body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  overflow-y: scroll;
}

button,
input {
  font-family: inherit;
}

*a {
  text-decoration: none;
  color: inherit;
}

h3,
p {
  margin: 0;
}

.wrapper {
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px;
  border-bottom: 1px solid #eaeaea;
  &__left {
    display: flex;
    align-items: center;
  }
  &__left-img {
    margin-right: 15px;
  }
  &__left-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: #000;
  }
  &__left-descr {
    font-weight: 400;
    font-size: 14px;
    color: #9d9d9d;
  }

  &__right {
    display: flex;
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    color: #5c5c5c;
  }
  &__right-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__right-card {
    cursor: pointer;
    margin-right: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__right-user {
    margin-right: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__right-cardtext--active {
    font-weight: 600;
  }
}

.content {
  padding: 40px 60px;
  &__title {
    margin: 0;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
  &__search-block {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__search-input {
    padding-left: 46px;
    padding-right: 30px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    width: 250px;
    height: 45px;
    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: #c4c4c4;
    }
  }
  &__search-button {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
  }
  &__top {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.clear {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1100px) {
  .content__wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
@media (max-width: 1000px) {
  .content__wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
}
.drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 4px 24px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  height: 100%;
  right: 0;
  top: 0;
  padding-left: 30px;
  padding-right: 30px;
  &__title {
    font-weight: 700;
    font-size: 24px;
    color: #000;
  }
}

.card__items {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 40px;
}
.card__item {
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  // background-color: #c4c4c4;
  border-radius: 20px;
  &-img {
    margin-right: 20px;
  }
  &-close {
    rotate: 45deg;
    // transform: rotate(-45deg);
    cursor: pointer;
  }
  &-info {
    padding-right: 30px;
    max-width: 150px;
    min-width: 150px;
  }
  &-title {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin: 0 0 8px 0;
    word-break: break-word;
  }
  &-button {
    opacity: 0.5;
    background-color: transparent;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    align-self: end;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}

.cart-total {
  &__list {
    padding: 0;
  }
  &__link {
    display: flex;
    margin-bottom: 19px;
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    color: #000;
  }
  &__price {
    font-weight: 600;
    font-size: 16px;
    color: #000;
  }
  &__buton {
    margin-bottom: 30px;
    margin-top: 5px;
    position: relative;
    padding: 18px 140px;
    border-radius: 18px;
    background-color: #9dd458;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    &:hover {
      background-color: lighten(#9dd458, 10%);
      .cart-total__button-img {
        transform: translateX(5px);
      }
    }
    &:active {
      background-color: darken(#9dd458, 10%);
    }
  }
  &__button-img {
    position: absolute;
    right: 34px;
    transition: transform 0.2s ease-in-out;
  }
}

.dash {
  flex: 1;
  border-bottom: 1px dashed #dfdfdf;
  margin: 0 9px;
  position: relative;
  bottom: 3px;
}

.price {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.drawer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 30px;
}

.close-button {
  background-color: transparent;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  align-self: end;
  transition: opacity 0.2s ease-in-out;
}

.close-button__img {
  rotate: 45deg;
}

.cart__empty {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  &-img {
    width: 120px;
    height: 120px;
  }
  &-title {
    margin-bottom: 9px;
    margin-top: 21px;
    font-weight: 600;
    font-size: 22px;
    color: #000;
  }
  &-text {
    max-width: 285px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000;
    opacity: 0.4;
    margin-bottom: 40px;
  }
  &-button {
    padding: 18px 60px;
    border: none;
    border-radius: 18px;
    background-color: #9dd458;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: lighten(#9dd458, 10%);
      .cart__empty-buttonImg {
        transform: translateX(-5px);
      }
    }
    &:active {
      background-color: darken(#9dd458, 10%);
    }
  }
  &-buttonImg {
    margin-right: 15px;
    transition: transform 0.2s ease-in-out;
  }
}

.wrap {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
